/* epub stylesheet */


.title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 20px 10px 20px 10px;
}
h1.title:before {
  content: "";	
}
#toc-title:before {
  content: "";	
}
.subtitle {
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
  margin: 20px 10px 20px 10px;
}
h1.subtitle:before {
  content: "";	
}
.author {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 25px;
}
h2.author:before {
  content: "";	
}

.date {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
}
h3.date:before {
  content: "";	
}

h1.section.level1.unnumbered:before {
  content: "";	
}

h1.title,
h1.subtitle, 
h2.author, 
h3.date {
  	page-break-before: avoid;
}
#toc-title {
  	page-break-before: avoid;
}

#document_lead {
  font-size: 18px;
  line-height: 1.5em;
  font-style: italic;
  margin-top: 100px;
  text-align: center;
  padding: 0 25px 0 25px;
}

.breakbefore {
 page-break-before: always;
}
.breakafter {
 page-break-after: always;
}
.breakboth {
  page-break-before: always;
  page-break-after: always;
}

.image-content img, .image-content div {
  margin: 0;
  max-width: 650px;
  min-width: 200px;
  min-height: 150px;
  display: block;
  padding: 5px 5px;
  text-align: center;
}
.image-content.placeholder .image-file {
  bottom: 30px;
}

.figure {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 10px;
}

h5, h6 {
  page-break-before: always;
}

/* Header Increment Counter */
/* 
.section.level1 h1 {
  
}

h1 {
  counter-reset: sub-section;
}
h2 {
  counter-reset: composite;
}
h1.section.level1:before {
  counter-increment: section;
  content: counter(section) " ";
  font-weight: bold;
  margin-right: 20px;
}
h2.section.level2:before {
  counter-increment: sub-section;
  content: counter(section) "." counter(sub-section) " ";
  margin-right: 20px;
  font-weight: bold;
}
h3.section.level3:before {
  counter-increment: composite;
  content: counter(section) "." counter(sub-section) "." counter(composite) " ";
  margin-right: 20px;
  font-weight: bold;
}
*/

code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-indent: 0px;
  padding: 0px 3px;
  background: white;
  border: 1px solid #DDD;
  zoom: 1;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

/* change p line-hight for double- or single-spacing */
p {
  line-height: 1.75em;
  text-indent:20px;
  text-align:justify;
}

.references {
	page-break-before: always;
}
.references p {
  text-align:justify;
  padding-bottom: 10px;
  padding-left: 35px ;
  text-indent: -35px ;
}

.footnotes ol:before {
  margin-top: 50px;
  content: "Footnotes";
  font-size: 24px;
  font-weight: bold;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  text-indent: -30px ;
  line-height: 3em;
}

.footnotes {
	margin-top: 3em;
}
.footnotes p {
	margin-left: 0px;
}

body {
  counter-reset: section;
  line-height: 1;
  color: black;
  background: white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}
ol, ul {
	line-height: 1.6em;
}

th,
td {
  font-weight: normal;
  padding-left: 7px; 
  padding-right: 7px;
  padding-top: 4px;   
}
th {
  text-align: center;
}

thead > tr > td {
  padding-bottom: 10px;
  padding-left: 15%;
  text-indent: -15%;	
}

th > img {
  max-width: 320px;
  float: left;
}

td > img {
  max-width: 320px;
  float: left;
}

h5 + p > img {
  float: left;
  display: block;
  padding-bottom: 50px;
  page-break-after: always;
}

h6 + p > img {
  max-width: 100px;
  float: left;
  display: block;
  padding-left: 10px;
}


.caption, caption {
  page-break-before: always;
  padding-bottom: 10px;
  padding-left: 50px ;
  text-indent: -50px ;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

/* Common styles
-------------------------------------------------------------------------------*/
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #0000CD;
  padding: 0 0 1px 0;
}
a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}

hr.separator {
  display: block;
  height: 1px;
  background: #c1c1c1;
  border: 0;
  margin: 0px;
}
hr.separator.nomargin {
  margin: 0px;
}
.border {
  border-top: 1px solid red;
  border-bottom: 1px solid green;
  margin-bottom: 15px;
}

p.question {
  padding: 10px 0;
  font-style: italic;
}
.section.quote > p {
  padding: 10px 0;
}
blockquote {
  display: table;
}
blockquote > div {
  display: table-row;
}
blockquote p {
  display: table-cell;
  padding: 0 0 10px 0;
  font-size: 1em;
  font-style: italic;
}
blockquote cite.quote-author {
  display: table-cell;
  padding: 20px 0 0;
  font-size: 11px;
  text-align: right;
}
