export(multi_document)
export(renderMultiDocument)
export(renderHTML)
export(renderEPUB)
export(renderPDF)
export(renderDOCX)
export(use.data.table)
export(dualTable)
export(coverTitle)
export(tblNum)
export(tblNumNext)
export(tblNumIncrement)
export(tblCap)
export(tblCap_NO_Increment)
export(eqnNumNext)
export(eqnNum)
importFrom(rmarkdown, html_document)
importFrom(Grmd, docx_document)
importFrom(Hmisc, latex)
importFrom(htmlTable, htmlTable)
importFrom(jpeg,readJPEG)
importFrom(graphics, rasterImage)